<?xml version="1.0"?>
<ruleset name="Symfony PHP CS fixer compatible ruleset"
    xmlns="http://pmd.sf.net/ruleset/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
    xsi:noNamespaceSchemaLocation="
                     http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>
        PHP Mess Detector ruleset compatible with PHP CS Fixer Symfony rules.
    </description>

    <!-- Exclude vendor directory -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <!-- Exclude migrations directory -->
    <exclude-pattern>*/migrations/*</exclude-pattern>

    <rule ref="rulesets/cleancode.xml">
        <exclude name="MissingImport" />
        <exclude name="StaticAccess" />
    </rule>
    <rule ref="rulesets/codesize.xml">
        <exclude name="TooManyMethods" />
        <exclude name="TooManyPublicMethods" />
    </rule>
    <rule ref="rulesets/codesize.xml/TooManyMethods">
        <properties>
            <property name="ignorepattern" description="Ignore methods matching this regex"
                value="(^(set|get|is|has|with|test))i" />
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/TooManyPublicMethods">
        <properties>
            <property name="ignorepattern" description="Ignore methods matching this regex"
                value="(^(set|get|test))i" />
        </properties>
    </rule>
    <rule ref="rulesets/design.xml">
        <exclude name="CouplingBetweenObjects" />
    </rule>
    <rule ref="rulesets/controversial.xml" />
    <rule ref="rulesets/unusedcode.xml" />
    <!--rule
    ref="rulesets/naming.xml" /-->
    <rule ref="rulesets/cleancode.xml/MissingImport">
        <properties>
            <property name="ignore-global" value="true" />
        </properties>
    </rule>
    <rule ref="rulesets/cleancode.xml/StaticAccess">
        <properties>
            <property name="exceptions"
                value="DateTime,DateTimeImmutable,DateInterval,IntlDateFormatter,Mockery,Symfony\Component\Uid\Uuid,Symfony\Component\Filesystem\Path,\Symfony\Component\Mime\Address,Symfony\Component\Form\ChoiceList\ChoiceList,\Behat\Transliterator\Transliterator,\Gedmo\Sluggable\Util\Urlizer,\Pagerfanta\Pagerfanta,\PhpOffice\PhpSpreadsheet\Shared\Date" />
            <property name="ignorepattern"
                value="/^(castFrom|PHPToExcel|fromLockableObjectAndUser|from|tryFrom|cases|forChoice|fromData)$/" />
        </properties>
    </rule>
    <rule ref="rulesets/design.xml/CouplingBetweenObjects">
        <properties>
            <property name="maximum" value="17" />
        </properties>
    </rule>
</ruleset>
